.main-container
{
	display: flex;
	flex-direction: column;
	margin: 5% 20%;
	padding: 32px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border-radius: 5px;
}

.main-container > h1
{
	margin-bottom: 20px;
}

.main-container > h4
{
	margin-top: 15px;
	margin-bottom: 5px;
	color: #383838;
}

.main-container > textarea
{
	padding: 6px;
	border-radius: 3px;
	resize: vertical;
	min-height: 100px;
	max-height: 150px;
}

/* First Child Gak Jalan */
.main-container > h4:first-of-type
{
	margin-top: 0px;
}

.main-container > input
{
	border-radius: 3px;
	border: 1px solid #8B8787;
	color: #383838;
	padding: 6px 6px;
}

.gender-radio-group > input:nth-of-type(2)
{
	margin-left: 15px;
}

.gender-radio-group label
{
	cursor: pointer;
	margin-left: 5px;
}

.main-container > .button-wrapper
{
	margin-top: 20px;
}

@media screen and (max-width: 900px)
{
	.main-container
	{
		margin: 10% 0%;
		box-shadow: 0px 0px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
}